<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Admin</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menu :: menu"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<main>
    <div class="admin"th:each="allProfiles : ${allProfiles}">
        <div class="card">
            <img th:src="'data:image/jpeg;base64,' + ${allProfiles.getImgBase64()}" style="width:100%"/><br>
            <div class="info">
                <form action="/deleteprofile" method="post">
                    <h6 th:text="${allProfiles.getId()}"></h6>
                    <h3 th:text="${allProfiles.getName()}"></h3>
                    <h6 th:text="${allProfiles.getKodeord()}"></h6>
                    <h6 th:text="${allProfiles.getEmail()}"></h6>
                    <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="delete-admin" >Slet profil</button><br>
                </form>
            </div>
        </div>
        <br><br>
    </div>
</main>
<br><br>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>