<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menu :: menu"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<div class="admin"th:each="allProfiles : ${allProfiles}">
    <form action="/deleteprofile" method="post">
        <img class="profilePicture" th:src="'data:image/jpeg;base64,' + ${allProfiles.getImgBase64()}" />
        <p th:text="${allProfiles.getId()}"></p>
        <p th:text="${allProfiles.getName()}"></p>
        <p th:text="${allProfiles.getKodeord()}"></p>
        <p th:text="${allProfiles.getDescription()}"></p>
        <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="delete-admin" >Slet profil</button><br>
    </form>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>