<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Velkommen!</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menu :: menu"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<div class="container" id="main">
    <div class="row">
        <div class="col-md-4">
            <div id="form-container">
                <h2>Opret din gratis profil her</h2>
                <form id="createProfileForm" action="/createprofile"  method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="createProfileForm"></label>
                        <input type="radio" name="pGender" value="Mand"> Mand
                        <input type="radio" name="pGender" value="Kvinde"> Kvinde<br>
                        <input type="text" id="pName" name="pName" placeholder="Navn..."><br>
                        <input type="text" id="pKodeord" name="pKodeord" placeholder="Kodeord..."><br>
                        <input type="text" id="pEmail" name="pEmail" placeholder="Mailadresse..."><br>
                        <input type="text" id="pDescription" name="pDescription" placeholder="Om dig selv..."><br>
                        <label for="file">Vælg dit billede</label>
                        <input type="file" class="form-control-file" name="file" id="file" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Opret profil</button>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <p><img src="images/members_grid_web.jpg" width="150%" height="auto" alt="members-picture">
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>