<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Main</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menuloggedin :: menuloggedin"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<div class="container" id="main">

    <!-- Indsæt indhold her -->
    <div class="row">
        <!-- søg profiler efter køn knap -->
        <div class="col-md-6">
            <div id="form-container">
                <h2>Søg profiler efter køn</h2>
                <form action="/main" method="get" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="radio" name="pGender" value="Mand"> Mand
                        <input type="radio" name="pGender" value="Kvinde"> Kvinde<br>
                    </div>
                    <button class="btn btn-primary" type="submit">Søg nu</button>
                </form>
            </div>

            <!-- se kandidatliste -->
            <div>
                <form action="/maincandidate" method="post">
                    <button class="btn btn-primary" type="submit" name="candidate">Se dine favoritter</button>
                </form>
            </div>
        </div>
    </div>

    <main>
        <div class="admin" th:each="allProfiles : ${profileList}">
            <div class="card">
                <img th:src="'data:image/jpeg;base64,' + ${allProfiles.getImgBase64()}" style="width:100%"/><br>
                <div class="info">
                    <form action="/profileId" method="post">
                        <h4 th:text="${allProfiles.getName()}" /></h4>
                        <p th:text="${allProfiles.getKodeord()}"></p>
                        <p th:text="${allProfiles.getEmail()}"></p>
                        <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="profileId">Se profil</button><br><br>
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </main>

    <main>
        <div class="admin" th:each="allCandidates : ${candidateList}">
            <div class="card">
                <img th:src="'data:image/jpeg;base64,' + ${allCandidates.getImgBase64()}" style="width:100%"/><br>
                <div class="info">
                    <form action="/profileId" method="post">
                        <p th:text="${allCandidates.getName()}"></p>
                        <p th:text="${allCandidates.getKodeord()}"></p>
                        <p th:text="${allCandidates.getGender()}"></p>
                        <button class="btn btn-primary" type="submit" th:value="${allCandidates.getId()}" name="profileId">Se profil</button><br><br>
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </main>
</div> <!-- /container -->

<!--
<div id="profileSite-container">
    <form id="profileSite" action="/getProfile" method="post">
        <input type="submit" id="profileSubmit-form" value="Bruger profil!!">
    </form>
</div>
-->

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>