<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Min Profil</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menuloggedin :: menuloggedin"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>

<div class="container" id="main">

    <div class="row">
        <div class="col-lg-6">
            <div class="col" id="profileID">
                <form action="/tomain" method="post">
                    <button class="btn btn-primary" type="submit" name="candidate">Tilbage til hovedmenu</button>
                </form>
                <h2>Min profil</h2>
                <div>
                    <tr th:each="allProfiles : ${profileID}">
                        <img class="profileImage" th:src="'data:image/jpeg;base64,' + ${allProfiles.getImgBase64()}" /><br>
                        <h6>Navn:</h6><h3 th:text="${allProfiles.getName()}" />
                        <h6>køn:</h6><h3 th:text="${allProfiles.getKodeord()}" />
                        <h6>Email:</h6><h3 th:text="${allProfiles.getGender()}" />
                        <h6>Kodeord:</h6><h3 th:text="${allProfiles.getDescription()}" />
                        <h6>Description:</h6><h3 th:text="${allProfiles.getEmail()}" /><br>
                    </tr>
                </div>
            </div>

            <div class="col" id="edit-container">
                <h2>Ret profil</h2>
                <form id="editProfile" action="/editprofile" method="post" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="editProfile"></label>
                        <input type="radio" name="eGender" value="Mand"> Mand
                        <input type="radio" name="eGender" value="Kvinde"> Kvinde<br>
                        <input type="text" id="eName" name="eName" placeholder="Ændre navn..."><br>
                        <input type="text" id="eEmail" name="eEmail" placeholder="Ændre mailadresse..."><br>
                        <input type="text" id="eKodeord" name="eKodeord" placeholder="Ændre kodeord"><br>
                        <input type="text" id="eDescription" name="eDescription" placeholder="Ændre beskrivelse...">
                    </div>
                    <button class="btn btn-primary" type="submit">Gem profil</button>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <form action="/myprofile/messages" method="post">
                <button class="btn btn-primary" type="submit" name="beskeder">Se mine beskeder</button>
            </form>
            <div th:each="allMessages : ${messages}">
                <p th:text="${allMessages.toString()}"></p>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>