<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>KEA Dating - Profil</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/menuloggedin :: menuloggedin"></div>
<div th:insert="fragments/jumbotron :: jumbotron"></div>


<div class="row" th:each="allProfiles : ${profileList}">
    <div class="col" id="profileDiv">
        <form action="/tomain" method="post">
            <button class="btn btn-primary" type="submit" name="candidate">Tilbage til hovedmenu</button>
        </form>
        <img class="profilePicture" th:src="'data:image/jpeg;base64,' + ${allProfiles.getImgBase64()}" />
    </div>

    <div class="col" >
        <h3>Navn:</h3><td th:text="${allProfiles.getName()}"></td>
        <h3>køn:</h3><td th:text="${allProfiles.getKodeord()}"></td><br>
        <h3>Description:</h3><td th:text="${allProfiles.getEmail()}"></td>
        <form action="/addtokandidat" method="post">
            <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="addToKandidat">Tilføj til favoritter</button>
        </form>
    </div>

    <div class="col">
        <div th:each="allProfiles : ${profileList}">
            <form action="/sendmessage" method="post">
                <label for="msg">Send en besked ;)</label><br>
                <input type="text" id="msg" name="getMessage" placeholder="Skriv besked..." required><br>
                <button class="btn btn-primary" type="submit" th:value="${allProfiles.getId()}" name="getReceiverId">Send</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>